<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="CernVM WebAPI" Language="1033" Version="2.0.13.0" Manufacturer="PH/SFT Group, CERN" UpgradeCode="70DAC5E8-46A4-4EF3-80B3-A103AE948436">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- Uninstall previous versions -->
		<MajorUpgrade 
      Schedule="afterInstallValidate"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!-- Publishable features -->
		<Feature Id="ProductFeature" Title="CernVM WebAPI" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductShortcuts" />
		</Feature>

    <!-- Visual C++ 11 redistributables -->
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>      
      <Directory Id="WindowsFolder" Name="WINDOWS"/>
    </DirectoryRef>
    <Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>               
    
    <!-- Kill running process -->
    <CustomAction Id='KillWebAPI' 
                  Directory='INSTALLFOLDER' 
                  Execute='immediate' 
                  ExeCommand='"[WindowsFolder]\System32\taskkill.exe" /F /IM cernvm-webapi.exe' 
                  Return='ignore'
                  />

    <!-- Launch WebAPI When it's finished -->
    <CustomAction Id="RunWebAPI"
                  Directory="INSTALLFOLDER"
                  ExeCommand="[#cernvm_webapi.exe] service"
                  Execute="commit"
                  Return="asyncNoWait"
                  />
    
    <!-- Install procedures -->
    <InstallExecuteSequence>
      
      <!-- Run CernVM WebAPI after setup -->
      <Custom Action="RunWebAPI" Before="InstallFinalize" />
      <!-- Kill CernVM WebAPI upon initialization -->
      <Custom Action="KillWebAPI" Before="InstallValidate" />
    
    </InstallExecuteSequence>

  </Product>
  
	<Fragment>
    
    <!-- Directories for the project -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			
      <!-- /Program Files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CERNFOLDER" Name="CERN">
  				<Directory Id="INSTALLFOLDER" Name="CernVMWebAPI">
          </Directory>
        </Directory>
			</Directory>
      
      <!-- System menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MENUFOLDER" Name="CernVM WebAPI" />
      </Directory>
  
		</Directory>

	</Fragment>
  
	<Fragment>
    
    <!-- ============================ -->
    <!--    Application Components    -->
    <!-- ============================ -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <!-- CernVM WebAPI Component -->
      <Component Id="CernVMWebAPI" Guid="7D61F9E4-BB23-4D39-BD3E-948FE16D8E0F">
        
        <File Id="cernvm_webapi.exe" 
              Source="..\..\..\..\build_vs2013_t120_xp-Release\Release\cernvm-webapi.exe" 
              KeyPath="yes" 
              Checksum="yes" />
        
      </Component>
      

      <!-- CernVM WebAPI Resources -->
      <!-- (They are now embedded in the binary) -->
      
      <!-- CernVM WebAPI association with the URI protocol -->
      <Component Id="CernVMWebAPI_URI" Guid="A26E8A26-AAE3-40AB-A970-F54DDDFA723C">
        
        <!-- Root folder -->
        <RegistryKey Root="HKCR" 
                     Key="cernvm-webapi" 
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" 
                         Value="URL:CernVM WebAPI Protocol" />
          <RegistryValue Type="string" 
                         Name="URL Protocol" 
                         Value="" />
        </RegistryKey>
        
        <!-- Shell folder -->
        <RegistryKey Root="HKCR"
                     Key="cernvm-webapi\shell\open\command"
                     Action="createAndRemoveOnUninstall">
          
          <!-- Open action -->
          <RegistryValue Type="string" 
                         Value="&quot;[#cernvm_webapi.exe]&quot; &quot;%1&quot;"
                         KeyPath="yes" />
        
        </RegistryKey>
      
      </Component>
      
      
      <!-- Start at user log-in with user privileges -->
      <Component Id="CernVMWebAPI_Startup" Guid="EB7DBB1A-987A-47DA-859B-FF6AF287349A">

        <!-- Root folder -->
        <RegistryKey Root="HKCU" 
                     Key="Software\Microsoft\Windows\CurrentVersion\Run"
                     Action="none">
          
          <RegistryValue Type="string" 
                         Name="CernVM WebAPI"
                         Value="&quot;[#cernvm_webapi.exe]&quot; service" />
        </RegistryKey>
      
      </Component>

		</ComponentGroup>
  
    <!-- ============================ -->
    <!--          Menu Shortcuts      -->
    <!-- ============================ -->
    <ComponentGroup Id="ProductShortcuts" Directory="MENUFOLDER">

      <!-- Shortcut icon -->
      <Component Id="CernVMWebAPI_Shortcut" Guid="042EA080-B0D5-44BB-8443-03900D7F592B">

        <!-- Dashboard and uninstall icon -->
        <Shortcut Id="OpenDashboard" 
                  Name="CernVM WebAPI" 
                  Target="[#cernvm_webapi.exe]" 
                  Description="Start CernVM WebAPI Service"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall CernVM WebAPI"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Description="Uninstall CernVM WebAPI" /> 
        
        <!-- Cleanup and ICE36 regex fix -->
        <RemoveFolder Id="MENUFOLDER" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\CERN\CernVMWebAPI" 
                       Name="installed" 
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      
      </Component>
    
    </ComponentGroup>
    
	</Fragment>

</Wix>
