Source: cernvm-webapi
Section: universe/misc
Priority: optional
Maintainer: Ioannis Charalampidis <ioannis.charalampidis@cern.ch>
Build-Depends: build-essential, libicu-dev
Homepage: http://www.cernvm.cern.ch
Architecture: amd64

Package: cernvm-webapi
Architecture: any
Depends: 
Description: CernVM WebAPI
 A secure mechanism that allows web applications to interact with virtual machines
 in the user's computer.

